@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

$font: 'Poppins', sans-serif;

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }