:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;

  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
  background-color: var(--background);
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}


@media only screen and (min-width: 2560px){
  body {
    font-size: 93.5%;

  }
}

